html, body {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 10%;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.education-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
